{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}{{bug.name}}{% endblock %} 

{% block content %}
<div class="jumbotron detail-jumbotron">
    
    <!-- Bug Details -->
    <div class="bug-intro">
       <h3><strong>Bug: 
        {% if bug.status == 'OPEN' %}
        <span class="badge badge-danger">OPEN</span>
        {% elif bug.status == 'IN PROGRESS' %}
        <span class="badge badge-warning">IN PROGRESS</span>
        {% elif bug.status == 'FIXED' %}
        <span class="badge badge-success">FIXED</span>
        {% endif %}
        {{ bug.name }}</strong></h3> 
    </div>
    
    <p class="text-muted">Posted {{ bug.date_created }} by {{ bug.user }}</p>
    <p class="lead"><strong>Description:</strong> {{ bug.description }}</p>
    <p class="lead"><strong>Upvotes:</strong> {{ bug.upvotes }}</p>
    <p class="lead">
        {% if user.is_authenticated and bug.status != 'FIXED'%}
        <a class="btn btn-primary btn-lg" href="{% url 'upvote_bug' bug.id %}" role="button">Upvote<i class="fas fa-thumbs-up"></i></a>
        {% elif user.is_authenticated and bug.status == 'FIXED' %}
        <h3><span class="badge badge-success">FIXED</span></h3>
        {% elif bug.status == 'FIXED' %}
        <h3><span class="badge badge-success">FIXED</span></h3>
        {% endif %}
        <a class="btn btn-primary btn-lg" href="{% url 'bugs' %}" role="button">Return to Reported Bugs<i class="fas fa-bug"></i></a>
    </p>
    <p class="lead">
        {% if user.is_authenticated %}
        {% else %}
        <p><a href="{% url 'login' %}">Sign in</a> or <a href="{% url 'register' %}">create an account</a> to report bugs, comment or upvote. </p>
        {% endif %}
    </p>
</div>

<div class="jumbotron">
    
    <!-- Comments -->
    {% if comments_count == 0 %}
    <h4><strong>Comments (0)</strong></h4>
    <p class="lead">No comments</p>
    {% else %}
    <h4><strong>Comments ( {{ comments_count }} )</strong></h4>
    <hr>
        {% for comment in comments %}
        <div class="inline">
            <div>
                <p class='description'>{{comment.comment}}</p>
                <p class="text-muted">Posted by <strong>{{comment.user}}</strong> on {{comment.date_created}}</p>
            </div>
        </div>
        <hr>
        {% endfor %}
    
    {% endif %}
    
    <!-- Pagination -->
    {% if comments.has_other_pages %}
    <ul class="pagination justify-content-center">
        {% if comments.has_previous %}
        <li><a href="?page={{ comments.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
        {% else %}
        <li class="disabled"><i class="fas fa-chevron-left"></i></li>
        {% endif %} 
        {% for i in comments.paginator.page_range %} 
            {% if comments.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} 
        {% endfor %} 
        {% if comments.has_next %}
        <li><a href="?page={{ comments.next_page_number }}"><i class="fas fa-chevron-right"></i></a></li>
        {% else %}
        <li class="disabled"><i class="fas fa-chevron-right"></i></li>
        {% endif %}
    </ul>
    {% endif %}
    
    <!-- Comment Form -->
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'bug_comment' bug.id %}">
        {% csrf_token %}
        <h6>Leave a comment:</h6>
        <textarea name="comment" cols="5" rows="4" class="form-control" required="" id="comment"></textarea>
        <br>
        <div class="form-actions">
            <button class="btn btn-primary inline" type="submit">Post</button>
        </div>
    </form>
    {% else %}
    {% endif %}
    
</div>
{% endblock %}