{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}About Us{% endblock %} 

{% block content %}

<div class="jumbotron about-jumbotron">
    <h2 class="display-4"><strong>About Us</strong></h2>
    <p class="lead">Meet our dedicated team of developers!</p>
    <div class="card-group">
        <div class="card align-items-center">
            <img class="card-img-top" src="{% static 'img/dev_1.png' %}" alt="Developer 1">
            <div class="card-body">
                <h5 class="card-title"><strong>Kim</strong></h5>
                <p class="lead">CEO/Founder</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus arcu dui, ut accumsan ligula vulputate non. Mauris vestibulum magna sed iaculis egestas. Vestibulum viverra ac lacus a semper. In hac habitasse platea dictumst.</p>
            </div>
        </div>
        <div class="card align-items-center">
            <img class="card-img-top" src="{% static 'img/dev_2.png' %}" alt="Developer 2">
            <div class="card-body">
                <h5 class="card-title"><strong>Harry</strong></h5>
                <p class="lead">Lead Developer</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus arcu dui, ut accumsan ligula vulputate non. Mauris vestibulum magna sed iaculis egestas. Vestibulum viverra ac lacus a semper. In hac habitasse platea dictumst.</p>
            </div>
        </div>
        <div class="card align-items-center">
            <img class="card-img-top" src="{% static 'img/dev_3.png' %}" alt="Developer 3">
            <div class="card-body">
                <h5 class="card-title"><strong>Lewis</strong></h5>
                <p class="lead">Senior Developer</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque faucibus arcu dui, ut accumsan ligula vulputate non. Mauris vestibulum magna sed iaculis egestas. Vestibulum viverra ac lacus a semper. In hac habitasse platea dictumst.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}