{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Request Feature{% endblock %} 

{% block content %}

<div class="jumbotron">
    <!-- Request Feature Form -->
    <form method="POST">
        <legend>Request New Feature</legend>
        <p>Requesting a new feature is <strong>free</strong>, however, a sufficient amount of funding will be required to go towards the development of this new feature.</p>
        <p>Funding for the development process can be achieved through <strong>upvotes</strong>. Members can upvote a feature for a set fee of <strong>£20 per upvote</strong>.
        Once donated funds have reached <strong>£300</strong>, and there are <strong>at least 12 upvotes</strong>, the development process for the new feature will begin, and any more upvotes after this will also contribute to the making of this feature.</p>
        <p>Here at Unicorn Simulator Issue Tracker, we promise to dedicate <strong>at least 50%</strong> of our time working on the highest paid feature.</p>
        <p>You can <strong>keep up to date</strong> with the development processes on requested features by <strong><a href="{% url 'index' %}">subscribing to our newsletter</a></strong>, or simply by checking in with the <strong><a href="{% url 'features' %}">Requested Features</a></strong> tab.</p>
        <p>Please be as detailed as possible when describing your requested feature to us. If we require any more information from you, we will not hesitate to contact you.</p>
        {% csrf_token %} 
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}