{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Cart{% endblock %} 

{% block content %}
<div class="jumbotron">
    <h1>Cart</h1>
    {% for item in cart_items %}
    <h3>{{ item.feature.name }}</h3>
    <p class="product-description">{{ item.feature.description }}</p>
    <p><strong>£{{ item.feature.price }} per upvote</strong></p>
    
    <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
        {% csrf_token %}
        <div class="form-group">
            <span>Upvotes to be issued:</span>
        </div>
        <div class="form-group">
            <label for="exampleInputAmount" class="sr-only">New Upvote</label>
            <input name="quantity" type="number" min="0" max="999" class="form-control" value="{{item.quantity}}">
        </div>
        <button type="submit" class="btn btn-primary">Amend</button>
    </form>
    <hr>
    {% endfor %}

    <strong>
        <p>Total to pay</p>
        <p>£{{ total }}</p>
    </strong>
    <a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Proceed to Checkout</a>
</div>

{% endblock %}