{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-dark">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Unicorn Simulator Logo">Issue Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'bugs' %}"><i class="fas fa-bug"></i>Reported Bugs</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'features' %}"><i class="fas fa-lightbulb"></i>Requested Features</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'report_bug' %}"><i class="fas fa-edit"></i>Report A Bug</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'request_feature' %}"><i class="fas fa-edit"></i>Request New Feature</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i>Cart
                        {% if feature_count > 0 %}
                            <label class="badge badge-pill badge-success">{{ feature_count }}</label>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i>Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- Messages -->
    {% if messages %}
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% for message in messages %}{{ message }}{% endfor %}</strong>
    </div>
    {% endif %}
    
     <!-- Block Content -->
    {% block content %} {% endblock %}
    
    <!-- Back to top -->
    <button onclick="topFunction()" id="back-to-top" title="Go to top"><i class="fas fa-angle-up"></i></button>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row text-center quick-links">
                <div class="col-xs 12 col-sm-12 col-md-12 col-lg-12">
                    <a href="{% url 'faq' %}">FAQs</a>
                    <a href="{% url 'about' %}">About</a>
                </div>
            </div>
            <div class="row text-center social-links">
                <div class="col-xs 12 col-sm-12 col-md-12 col-lg-12">
                    <a href="#"><i class="fab fa-facebook-f social"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-lg social"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p id="copyright">Created by Kim Pearton<a target="_blank" href="https://github.com/kimpea/us-issue-tracker"><i class="fab fa-github fa-lg github"></i></a></p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
